* text=auto !eol
boards/EA_LPCXPRESSO_BB_1114/board.c -text
boards/EA_LPCXPRESSO_BB_1114/board.h -text
boards/EA_LPCXPRESSO_BB_1114/board.mk -text
boards/EA_LPCXPRESSO_BB_1343/board.c -text
boards/EA_LPCXPRESSO_BB_1343/board.h -text
boards/EA_LPCXPRESSO_BB_1343/board.mk -text
boards/GENERIC_SPC563/board.c -text
boards/GENERIC_SPC563/board.h -text
boards/GENERIC_SPC563/board.mk -text
boards/OLIMEX_AVR_CAN/board.c -text
boards/OLIMEX_AVR_CAN/board.h -text
boards/OLIMEX_AVR_CAN/board.mk -text
boards/OLIMEX_AVR_MT_128/board.c -text
boards/OLIMEX_AVR_MT_128/board.h -text
boards/OLIMEX_AVR_MT_128/board.mk -text
boards/OLIMEX_LPC_P2148/board.c -text
boards/OLIMEX_LPC_P2148/board.h -text
boards/OLIMEX_LPC_P2148/board.mk -text
boards/OLIMEX_LPC_P2148/buzzer.c -text
boards/OLIMEX_LPC_P2148/buzzer.h -text
boards/OLIMEX_MSP430_P1611/board.c -text
boards/OLIMEX_MSP430_P1611/board.h -text
boards/OLIMEX_MSP430_P1611/board.mk -text
boards/OLIMEX_SAM7_EX256/board.c -text
boards/OLIMEX_SAM7_EX256/board.h -text
boards/OLIMEX_SAM7_EX256/board.mk -text
boards/OLIMEX_SAM7_P256/board.c -text
boards/OLIMEX_SAM7_P256/board.h -text
boards/OLIMEX_SAM7_P256/board.mk -text
boards/OLIMEX_STM32_P103/board.c -text
boards/OLIMEX_STM32_P103/board.h -text
boards/OLIMEX_STM32_P103/board.mk -text
boards/RAISONANCE_REVA_STM8S/board.c -text
boards/RAISONANCE_REVA_STM8S/board.h -text
boards/ST_STM3210C_EVAL/board.c -text
boards/ST_STM3210C_EVAL/board.h -text
boards/ST_STM3210C_EVAL/board.mk -text
boards/ST_STM8S_DISCOVERY/board.c -text
boards/ST_STM8S_DISCOVERY/board.h -text
boards/readme.txt -text
demos/ARM7-AT91SAM7S-GCC/Makefile -text
demos/ARM7-AT91SAM7S-GCC/ch.ld -text
demos/ARM7-AT91SAM7S-GCC/chconf.h -text
demos/ARM7-AT91SAM7S-GCC/halconf.h -text
demos/ARM7-AT91SAM7S-GCC/main.c -text
demos/ARM7-AT91SAM7S-GCC/mcuconf.h -text
demos/ARM7-AT91SAM7S-GCC/readme.txt -text
demos/ARM7-AT91SAM7X-GCC/Makefile -text
demos/ARM7-AT91SAM7X-GCC/ch.ld -text
demos/ARM7-AT91SAM7X-GCC/chconf.h -text
demos/ARM7-AT91SAM7X-GCC/halconf.h -text
demos/ARM7-AT91SAM7X-GCC/main.c -text
demos/ARM7-AT91SAM7X-GCC/mcuconf.h -text
demos/ARM7-AT91SAM7X-GCC/readme.txt -text
demos/ARM7-AT91SAM7X-LWIP-GCC/Makefile -text
demos/ARM7-AT91SAM7X-LWIP-GCC/ch.ld -text
demos/ARM7-AT91SAM7X-LWIP-GCC/chconf.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/halconf.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/arch/cc.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/arch/perf.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/arch/sys_arch.c -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/arch/sys_arch.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/lwip.mk -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/lwipthread.c -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwip/lwipthread.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/lwipopts.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/main.c -text
demos/ARM7-AT91SAM7X-LWIP-GCC/mcuconf.h -text
demos/ARM7-AT91SAM7X-LWIP-GCC/readme.txt -text
demos/ARM7-AT91SAM7X-LWIP-GCC/web/web.c -text
demos/ARM7-AT91SAM7X-LWIP-GCC/web/web.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/Makefile -text
demos/ARM7-AT91SAM7X-UIP-GCC/ch.ld -text
demos/ARM7-AT91SAM7X-UIP-GCC/chconf.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/halconf.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/main.c -text
demos/ARM7-AT91SAM7X-UIP-GCC/mcuconf.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/readme.txt -text
demos/ARM7-AT91SAM7X-UIP-GCC/web/cc-arch.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/web/clock-arch.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/web/uip-conf.h -text
demos/ARM7-AT91SAM7X-UIP-GCC/web/webthread.c -text
demos/ARM7-AT91SAM7X-UIP-GCC/web/webthread.h -text
demos/ARM7-LPC214x-FATFS-GCC/Makefile -text
demos/ARM7-LPC214x-FATFS-GCC/ch.ld -text
demos/ARM7-LPC214x-FATFS-GCC/chconf.h -text
demos/ARM7-LPC214x-FATFS-GCC/halconf.h -text
demos/ARM7-LPC214x-FATFS-GCC/main.c -text
demos/ARM7-LPC214x-FATFS-GCC/mcuconf.h -text
demos/ARM7-LPC214x-FATFS-GCC/readme.txt -text
demos/ARM7-LPC214x-G++/Makefile -text
demos/ARM7-LPC214x-G++/ch.ld -text
demos/ARM7-LPC214x-G++/chconf.h -text
demos/ARM7-LPC214x-G++/halconf.h -text
demos/ARM7-LPC214x-G++/main.cpp -text
demos/ARM7-LPC214x-G++/mcuconf.h -text
demos/ARM7-LPC214x-G++/readme.txt -text
demos/ARM7-LPC214x-GCC/Makefile -text
demos/ARM7-LPC214x-GCC/ch.ld -text
demos/ARM7-LPC214x-GCC/chconf.h -text
demos/ARM7-LPC214x-GCC/halconf.h -text
demos/ARM7-LPC214x-GCC/main.c -text
demos/ARM7-LPC214x-GCC/mcuconf.h -text
demos/ARM7-LPC214x-GCC/readme.txt -text
demos/ARMCM0-LPC1114-GCC/Makefile -text
demos/ARMCM0-LPC1114-GCC/ch.ld -text
demos/ARMCM0-LPC1114-GCC/chconf.h -text
demos/ARMCM0-LPC1114-GCC/halconf.h -text
demos/ARMCM0-LPC1114-GCC/main.c -text
demos/ARMCM0-LPC1114-GCC/mcuconf.h -text
demos/ARMCM3-LPC1343-GCC/Makefile -text
demos/ARMCM3-LPC1343-GCC/ch.ld -text
demos/ARMCM3-LPC1343-GCC/chconf.h -text
demos/ARMCM3-LPC1343-GCC/halconf.h -text
demos/ARMCM3-LPC1343-GCC/main.c -text
demos/ARMCM3-LPC1343-GCC/mcuconf.h -text
demos/ARMCM3-STM32F103-FATFS-GCC/Makefile -text
demos/ARMCM3-STM32F103-FATFS-GCC/ch.ld -text
demos/ARMCM3-STM32F103-FATFS-GCC/chconf.h -text
demos/ARMCM3-STM32F103-FATFS-GCC/halconf.h -text
demos/ARMCM3-STM32F103-FATFS-GCC/main.c -text
demos/ARMCM3-STM32F103-FATFS-GCC/mcuconf.h -text
demos/ARMCM3-STM32F103-FATFS-GCC/readme.txt -text
demos/ARMCM3-STM32F103-GCC/Makefile -text
demos/ARMCM3-STM32F103-GCC/ch.ld -text
demos/ARMCM3-STM32F103-GCC/chconf.h -text
demos/ARMCM3-STM32F103-GCC/halconf.h -text
demos/ARMCM3-STM32F103-GCC/main.c -text
demos/ARMCM3-STM32F103-GCC/mcuconf.h -text
demos/ARMCM3-STM32F103-GCC/readme.txt -text
demos/ARMCM3-STM32F103-GCC/ride7/ch.rapp -text
demos/ARMCM3-STM32F103-GCC/ride7/ch.rprj -text
demos/ARMCM3-STM32F107-GCC/Makefile -text
demos/ARMCM3-STM32F107-GCC/ch.ld -text
demos/ARMCM3-STM32F107-GCC/chconf.h -text
demos/ARMCM3-STM32F107-GCC/halconf.h -text
demos/ARMCM3-STM32F107-GCC/main.c -text
demos/ARMCM3-STM32F107-GCC/mcuconf.h -text
demos/ARMCM3-STM32F107-GCC/readme.txt -text
demos/AVR-AT90CANx-GCC/Makefile -text
demos/AVR-AT90CANx-GCC/chconf.h -text
demos/AVR-AT90CANx-GCC/halconf.h -text
demos/AVR-AT90CANx-GCC/main.c -text
demos/AVR-AT90CANx-GCC/mcuconf.h -text
demos/AVR-AT90CANx-GCC/readme.txt -text
demos/AVR-ATmega128-GCC/Makefile -text
demos/AVR-ATmega128-GCC/chconf.h -text
demos/AVR-ATmega128-GCC/halconf.h -text
demos/AVR-ATmega128-GCC/lcd.c -text
demos/AVR-ATmega128-GCC/lcd.h -text
demos/AVR-ATmega128-GCC/main.c -text
demos/AVR-ATmega128-GCC/mcuconf.h -text
demos/AVR-ATmega128-GCC/readme.txt -text
demos/MSP430-MSP430x1611-GCC/Makefile -text
demos/MSP430-MSP430x1611-GCC/chconf.h -text
demos/MSP430-MSP430x1611-GCC/halconf.h -text
demos/MSP430-MSP430x1611-GCC/main.c -text
demos/MSP430-MSP430x1611-GCC/mcuconf.h -text
demos/MSP430-MSP430x1611-GCC/mspgcc/msp430x1611.x -text
demos/MSP430-MSP430x1611-GCC/readme.txt -text
demos/PPC-SPC563-GCC/Makefile -text
demos/PPC-SPC563-GCC/ch.ld -text
demos/PPC-SPC563-GCC/chconf.h -text
demos/PPC-SPC563-GCC/halconf.h -text
demos/PPC-SPC563-GCC/main.c -text
demos/Posix-GCC/Makefile -text
demos/Posix-GCC/board.h -text
demos/Posix-GCC/chconf.h -text
demos/Posix-GCC/halconf.h -text
demos/Posix-GCC/main.c -text
demos/Posix-GCC/readme.txt -text
demos/STM8S-STM8S105-DISCOVERY-STVD/ChibiOS-RT.stw -text
demos/STM8S-STM8S105-DISCOVERY-STVD/cosmic/cosmic.stp -text
demos/STM8S-STM8S105-DISCOVERY-STVD/cosmic/vectors.c -text
demos/STM8S-STM8S105-DISCOVERY-STVD/demo/chconf.h -text
demos/STM8S-STM8S105-DISCOVERY-STVD/demo/halconf.h -text
demos/STM8S-STM8S105-DISCOVERY-STVD/demo/main.c -text
demos/STM8S-STM8S105-DISCOVERY-STVD/demo/mcuconf.h -text
demos/STM8S-STM8S105-DISCOVERY-STVD/raisonance/raisonance.stp -text
demos/STM8S-STM8S208-RC/ch.rapp -text
demos/STM8S-STM8S208-RC/ch.rprj -text
demos/STM8S-STM8S208-RC/chconf.h -text
demos/STM8S-STM8S208-RC/halconf.h -text
demos/STM8S-STM8S208-RC/main.c -text
demos/STM8S-STM8S208-RC/mcuconf.h -text
demos/STM8S-STM8S208-RC/readme.txt -text
demos/Win32-MinGW/Makefile -text
demos/Win32-MinGW/board.h -text
demos/Win32-MinGW/chconf.h -text
demos/Win32-MinGW/halconf.h -text
demos/Win32-MinGW/main.c -text
demos/Win32-MinGW/readme.txt -text
docs/Doxyfile -text
docs/html/logo_small.png -text
docs/index.html -text
docs/readme.txt -text
docs/reports/AT91SAM7X-48-ARM.txt -text
docs/reports/AT91SAM7X-48-THUMB.txt -text
docs/reports/ATmega128-16.txt -text
docs/reports/LPC1114-48.txt -text
docs/reports/LPC1343-72.txt -text
docs/reports/LPC2148-48-ARM.txt -text
docs/reports/LPC2148-48-THUMB.txt -text
docs/reports/MSP430F1611-0.75.txt -text
docs/reports/MSP430F1611-8.txt -text
docs/reports/SPC563M64-80.txt -text
docs/reports/STM32F103-48.txt -text
docs/reports/STM32F103-72.txt -text
docs/reports/STM8S105-16-Cosmic.txt -text
docs/reports/STM8S105-16-Raisonance.txt -text
docs/reports/STM8S208-16-Raisonance.txt -text
docs/reports/build.txt -text
docs/reports/coverage.txt -text
docs/reports/kernel.txt -text
docs/rsc/custom.css -text
docs/rsc/eclipse003.jpg -text
docs/rsc/eclipse004.jpg -text
docs/rsc/eclipse005.jpg -text
docs/rsc/eclipse006.jpg -text
docs/rsc/eclipse007.jpg -text
docs/rsc/eclipse008.jpg -text
docs/rsc/eclipse009.jpg -text
docs/rsc/eclipse010.jpg -text
docs/rsc/eclipse011.jpg -text
docs/rsc/eclipse012.jpg -text
docs/rsc/eclipse013.jpg -text
docs/rsc/footer.html -text
docs/rsc/header.html -text
docs/rsc/layout.xml -text
docs/rsc/logo.png -text
docs/rsc/tabs.css -text
docs/rsc/tool001.jpg -text
docs/rsc/tool002.jpg -text
docs/rsc/workspace.png -text
docs/rsc/workspace.svg -text
docs/src/architecture.dox -text
docs/src/articles.dox -text
docs/src/atomic.dox -text
docs/src/concepts.dox -text
docs/src/createthread.dox -text
docs/src/credits.dox -text
docs/src/debug.dox -text
docs/src/design.dox -text
docs/src/eclipse.dox -text
docs/src/eclipse2.dox -text
docs/src/events.dox -text
docs/src/goals.dox -text
docs/src/integrationguide.dox -text
docs/src/interrupts.dox -text
docs/src/jitter.dox -text
docs/src/licfaq.dox -text
docs/src/lifecycle.dox -text
docs/src/main.dox -text
docs/src/memory.dox -text
docs/src/mutualexcl.dox -text
docs/src/portguide.dox -text
docs/src/roundrobin.dox -text
docs/src/saveram.dox -text
docs/src/stacks.dox -text
docs/src/stop_os.dox -text
docs/src/target.dox -text
docs/src/timing.dox -text
docs/src/wakeup.dox -text
ext/ext.dox -text
ext/ff007e-patched.zip -text
ext/lwip-1.3.1.zip -text
ext/readme.txt -text
ext/stm32lib-3.3.0.zip -text
ext/uip-1.0.patches.zip -text
ext/uip-1.0.tar.gz -text
/license.txt -text
os/hal/hal.dox -text
os/hal/hal.mk -text
os/hal/include/adc.h -text
os/hal/include/can.h -text
os/hal/include/hal.h -text
os/hal/include/mac.h -text
os/hal/include/mii.h -text
os/hal/include/mmc_spi.h -text
os/hal/include/pal.h -text
os/hal/include/pwm.h -text
os/hal/include/serial.h -text
os/hal/include/spi.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7S128.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7S256.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7S512.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7S64.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7X128.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7X256.h -text
os/hal/platforms/AT91SAM7/at91lib/AT91SAM7X512.h -text
os/hal/platforms/AT91SAM7/at91lib/aic.c -text
os/hal/platforms/AT91SAM7/at91lib/aic.h -text
os/hal/platforms/AT91SAM7/at91sam7.h -text
os/hal/platforms/AT91SAM7/at91sam7_mii.c -text
os/hal/platforms/AT91SAM7/at91sam7_mii.h -text
os/hal/platforms/AT91SAM7/hal_lld.c -text
os/hal/platforms/AT91SAM7/hal_lld.h -text
os/hal/platforms/AT91SAM7/mac_lld.c -text
os/hal/platforms/AT91SAM7/mac_lld.h -text
os/hal/platforms/AT91SAM7/pal_lld.c -text
os/hal/platforms/AT91SAM7/pal_lld.h -text
os/hal/platforms/AT91SAM7/platform.dox -text
os/hal/platforms/AT91SAM7/platform.mk -text
os/hal/platforms/AT91SAM7/serial_lld.c -text
os/hal/platforms/AT91SAM7/serial_lld.h -text
os/hal/platforms/AT91SAM7/spi_lld.c -text
os/hal/platforms/AT91SAM7/spi_lld.h -text
os/hal/platforms/AVR/hal_lld.c -text
os/hal/platforms/AVR/hal_lld.h -text
os/hal/platforms/AVR/platform.dox -text
os/hal/platforms/AVR/platform.mk -text
os/hal/platforms/AVR/serial_lld.c -text
os/hal/platforms/AVR/serial_lld.h -text
os/hal/platforms/LPC11xx/LPC11xx.h -text
os/hal/platforms/LPC11xx/hal_lld.c -text
os/hal/platforms/LPC11xx/hal_lld.h -text
os/hal/platforms/LPC11xx/pal_lld.c -text
os/hal/platforms/LPC11xx/pal_lld.h -text
os/hal/platforms/LPC11xx/platform.dox -text
os/hal/platforms/LPC11xx/platform.mk -text
os/hal/platforms/LPC11xx/serial_lld.c -text
os/hal/platforms/LPC11xx/serial_lld.h -text
os/hal/platforms/LPC11xx/system_LPC11xx.h -text
os/hal/platforms/LPC13xx/LPC13xx.h -text
os/hal/platforms/LPC13xx/hal_lld.c -text
os/hal/platforms/LPC13xx/hal_lld.h -text
os/hal/platforms/LPC13xx/pal_lld.c -text
os/hal/platforms/LPC13xx/pal_lld.h -text
os/hal/platforms/LPC13xx/platform.dox -text
os/hal/platforms/LPC13xx/platform.mk -text
os/hal/platforms/LPC13xx/serial_lld.c -text
os/hal/platforms/LPC13xx/serial_lld.h -text
os/hal/platforms/LPC13xx/system_LPC13xx.h -text
os/hal/platforms/LPC214x/hal_lld.c -text
os/hal/platforms/LPC214x/hal_lld.h -text
os/hal/platforms/LPC214x/lpc214x.h -text
os/hal/platforms/LPC214x/pal_lld.c -text
os/hal/platforms/LPC214x/pal_lld.h -text
os/hal/platforms/LPC214x/platform.dox -text
os/hal/platforms/LPC214x/platform.mk -text
os/hal/platforms/LPC214x/serial_lld.c -text
os/hal/platforms/LPC214x/serial_lld.h -text
os/hal/platforms/LPC214x/spi_lld.c -text
os/hal/platforms/LPC214x/spi_lld.h -text
os/hal/platforms/LPC214x/vic.c -text
os/hal/platforms/LPC214x/vic.h -text
os/hal/platforms/MSP430/hal_lld.c -text
os/hal/platforms/MSP430/hal_lld.h -text
os/hal/platforms/MSP430/pal_lld.c -text
os/hal/platforms/MSP430/pal_lld.h -text
os/hal/platforms/MSP430/platform.dox -text
os/hal/platforms/MSP430/platform.mk -text
os/hal/platforms/MSP430/serial_lld.c -text
os/hal/platforms/MSP430/serial_lld.h -text
os/hal/platforms/Posix/console.c -text
os/hal/platforms/Posix/console.h -text
os/hal/platforms/Posix/hal_lld.c -text
os/hal/platforms/Posix/hal_lld.h -text
os/hal/platforms/Posix/pal_lld.c -text
os/hal/platforms/Posix/pal_lld.h -text
os/hal/platforms/Posix/platform.mk -text
os/hal/platforms/Posix/serial_lld.c -text
os/hal/platforms/Posix/serial_lld.h -text
os/hal/platforms/SPC56x/hal_lld.c -text
os/hal/platforms/SPC56x/hal_lld.h -text
os/hal/platforms/SPC56x/mpc563m.h -text
os/hal/platforms/SPC56x/platform.dox -text
os/hal/platforms/SPC56x/platform.mk -text
os/hal/platforms/SPC56x/serial_lld.c -text
os/hal/platforms/SPC56x/serial_lld.h -text
os/hal/platforms/SPC56x/typedefs.h -text
os/hal/platforms/STM32/adc_lld.c -text
os/hal/platforms/STM32/adc_lld.h -text
os/hal/platforms/STM32/can_lld.c -text
os/hal/platforms/STM32/can_lld.h -text
os/hal/platforms/STM32/hal_lld.c -text
os/hal/platforms/STM32/hal_lld.h -text
os/hal/platforms/STM32/hal_lld_f103.h -text
os/hal/platforms/STM32/hal_lld_f105_f107.h -text
os/hal/platforms/STM32/pal_lld.c -text
os/hal/platforms/STM32/pal_lld.h -text
os/hal/platforms/STM32/platform.dox -text
os/hal/platforms/STM32/platform.mk -text
os/hal/platforms/STM32/pwm_lld.c -text
os/hal/platforms/STM32/pwm_lld.h -text
os/hal/platforms/STM32/serial_lld.c -text
os/hal/platforms/STM32/serial_lld.h -text
os/hal/platforms/STM32/spi_lld.c -text
os/hal/platforms/STM32/spi_lld.h -text
os/hal/platforms/STM32/stm32_dma.c -text
os/hal/platforms/STM32/stm32_dma.h -text
os/hal/platforms/STM32/stm32f10x.h -text
os/hal/platforms/STM8/hal_lld.c -text
os/hal/platforms/STM8/hal_lld.h -text
os/hal/platforms/STM8/pal_lld.c -text
os/hal/platforms/STM8/pal_lld.h -text
os/hal/platforms/STM8/platform.dox -text
os/hal/platforms/STM8/serial_lld.c -text
os/hal/platforms/STM8/serial_lld.h -text
os/hal/platforms/STM8/stm8.h -text
os/hal/platforms/STM8/stm8s.h -text
os/hal/platforms/STM8/stm8s_type.h -text
os/hal/platforms/Win32/console.c -text
os/hal/platforms/Win32/console.h -text
os/hal/platforms/Win32/hal_lld.c -text
os/hal/platforms/Win32/hal_lld.h -text
os/hal/platforms/Win32/pal_lld.c -text
os/hal/platforms/Win32/pal_lld.h -text
os/hal/platforms/Win32/platform.mk -text
os/hal/platforms/Win32/serial_lld.c -text
os/hal/platforms/Win32/serial_lld.h -text
os/hal/src/adc.c -text
os/hal/src/can.c -text
os/hal/src/hal.c -text
os/hal/src/mac.c -text
os/hal/src/mmc_spi.c -text
os/hal/src/pal.c -text
os/hal/src/pwm.c -text
os/hal/src/serial.c -text
os/hal/src/spi.c -text
os/hal/templates/adc_lld.c -text
os/hal/templates/adc_lld.h -text
os/hal/templates/can_lld.c -text
os/hal/templates/can_lld.h -text
os/hal/templates/hal_lld.c -text
os/hal/templates/hal_lld.h -text
os/hal/templates/halconf.h -text
os/hal/templates/mac_lld.c -text
os/hal/templates/mac_lld.h -text
os/hal/templates/meta/driver.c -text
os/hal/templates/meta/driver.h -text
os/hal/templates/meta/driver_lld.c -text
os/hal/templates/meta/driver_lld.h -text
os/hal/templates/pal_lld.c -text
os/hal/templates/pal_lld.h -text
os/hal/templates/pwm_lld.c -text
os/hal/templates/pwm_lld.h -text
os/hal/templates/serial_lld.c -text
os/hal/templates/serial_lld.h -text
os/hal/templates/spi_lld.c -text
os/hal/templates/spi_lld.h -text
os/kernel/include/ch.h -text
os/kernel/include/chbsem.h -text
os/kernel/include/chcond.h -text
os/kernel/include/chdebug.h -text
os/kernel/include/chevents.h -text
os/kernel/include/chheap.h -text
os/kernel/include/chinline.h -text
os/kernel/include/chioch.h -text
os/kernel/include/chlists.h -text
os/kernel/include/chmboxes.h -text
os/kernel/include/chmemcore.h -text
os/kernel/include/chmempools.h -text
os/kernel/include/chmsg.h -text
os/kernel/include/chmtx.h -text
os/kernel/include/chqueues.h -text
os/kernel/include/chregistry.h -text
os/kernel/include/chschd.h -text
os/kernel/include/chsem.h -text
os/kernel/include/chstreams.h -text
os/kernel/include/chsys.h -text
os/kernel/include/chthreads.h -text
os/kernel/include/chvt.h -text
os/kernel/kernel.dox -text
os/kernel/kernel.mk -text
os/kernel/src/chcond.c -text
os/kernel/src/chdebug.c -text
os/kernel/src/chevents.c -text
os/kernel/src/chheap.c -text
os/kernel/src/chlists.c -text
os/kernel/src/chmboxes.c -text
os/kernel/src/chmemcore.c -text
os/kernel/src/chmempools.c -text
os/kernel/src/chmsg.c -text
os/kernel/src/chmtx.c -text
os/kernel/src/chqueues.c -text
os/kernel/src/chregistry.c -text
os/kernel/src/chschd.c -text
os/kernel/src/chsem.c -text
os/kernel/src/chsys.c -text
os/kernel/src/chthreads.c -text
os/kernel/src/chvt.c -text
os/kernel/templates/chconf.h -text
os/kernel/templates/chcore.c -text
os/kernel/templates/chcore.h -text
os/kernel/templates/chtypes.h -text
os/ports/GCC/ARM/rules.mk -text
os/ports/GCC/ARM7/AT91SAM7/vectors.s -text
os/ports/GCC/ARM7/AT91SAM7/wfi.h -text
os/ports/GCC/ARM7/LPC214x/vectors.s -text
os/ports/GCC/ARM7/LPC214x/wfi.h -text
os/ports/GCC/ARM7/chcore.c -text
os/ports/GCC/ARM7/chcore.h -text
os/ports/GCC/ARM7/chcoreasm.s -text
os/ports/GCC/ARM7/chtypes.h -text
os/ports/GCC/ARM7/crt0.s -text
os/ports/GCC/ARM7/port.dox -text
os/ports/GCC/ARM7/port.mk -text
os/ports/GCC/ARMCMx/LPC11xx/cmparams.h -text
os/ports/GCC/ARMCMx/LPC11xx/port.mk -text
os/ports/GCC/ARMCMx/LPC11xx/vectors.s -text
os/ports/GCC/ARMCMx/LPC13xx/cmparams.h -text
os/ports/GCC/ARMCMx/LPC13xx/port.mk -text
os/ports/GCC/ARMCMx/LPC13xx/vectors.s -text
os/ports/GCC/ARMCMx/STM32F10x/cmparams.h -text
os/ports/GCC/ARMCMx/STM32F10x/port.mk -text
os/ports/GCC/ARMCMx/STM32F10x/vectors.s -text
os/ports/GCC/ARMCMx/chcore.c -text
os/ports/GCC/ARMCMx/chcore.h -text
os/ports/GCC/ARMCMx/chcore_v6m.c -text
os/ports/GCC/ARMCMx/chcore_v6m.h -text
os/ports/GCC/ARMCMx/chcore_v7m.c -text
os/ports/GCC/ARMCMx/chcore_v7m.h -text
os/ports/GCC/ARMCMx/chtypes.h -text
os/ports/GCC/ARMCMx/cmsis/core_cm0.c -text
os/ports/GCC/ARMCMx/cmsis/core_cm0.h -text
os/ports/GCC/ARMCMx/cmsis/core_cm3.c -text
os/ports/GCC/ARMCMx/cmsis/core_cm3.h -text
os/ports/GCC/ARMCMx/crt0.s -text
os/ports/GCC/ARMCMx/nvic.c -text
os/ports/GCC/ARMCMx/nvic.h -text
os/ports/GCC/ARMCMx/old/chcore_v7m.c -text
os/ports/GCC/ARMCMx/old/chcore_v7m.h -text
os/ports/GCC/ARMCMx/port.dox -text
os/ports/GCC/AVR/chcore.c -text
os/ports/GCC/AVR/chcore.h -text
os/ports/GCC/AVR/chtypes.h -text
os/ports/GCC/AVR/port.dox -text
os/ports/GCC/AVR/port.mk -text
os/ports/GCC/MSP430/chcore.c -text
os/ports/GCC/MSP430/chcore.h -text
os/ports/GCC/MSP430/chtypes.h -text
os/ports/GCC/MSP430/port.dox -text
os/ports/GCC/MSP430/port.mk -text
os/ports/GCC/MSP430/rules.mk -text
os/ports/GCC/PPC/SPC56x/ivor.s -text
os/ports/GCC/PPC/SPC56x/vectors.s -text
os/ports/GCC/PPC/chcore.c -text
os/ports/GCC/PPC/chcore.h -text
os/ports/GCC/PPC/chtypes.h -text
os/ports/GCC/PPC/crt0.s -text
os/ports/GCC/PPC/port.dox -text
os/ports/GCC/PPC/port.mk -text
os/ports/GCC/PPC/rules.mk -text
os/ports/GCC/SIMIA32/chcore.c -text
os/ports/GCC/SIMIA32/chcore.h -text
os/ports/GCC/SIMIA32/chtypes.h -text
os/ports/GCC/SIMIA32/port.mk -text
os/ports/RC/STM8/chcore.c -text
os/ports/RC/STM8/chcore.h -text
os/ports/RC/STM8/chtypes.h -text
os/ports/RC/STM8/port.dox -text
os/ports/cosmic/STM8/chcore.c -text
os/ports/cosmic/STM8/chcore.h -text
os/ports/cosmic/STM8/chtypes.h -text
os/ports/cosmic/STM8/port.dox -text
os/ports/ports.dox -text
os/various/ch.cpp -text
os/various/ch.hpp -text
os/various/evtimer.c -text
os/various/evtimer.h -text
os/various/memstreams.c -text
os/various/memstreams.h -text
os/various/shell.c -text
os/various/shell.h -text
os/various/syscalls.c -text
os/various/various.dox -text
/readme.txt -text
test/coverage/Makefile -text
test/coverage/board.h -text
test/coverage/chconf.h -text
test/coverage/halconf.h -text
test/coverage/main.c -text
test/coverage/readme.txt -text
test/test.c -text
test/test.dox -text
test/test.h -text
test/test.mk -text
test/testbmk.c -text
test/testbmk.h -text
test/testdyn.c -text
test/testdyn.h -text
test/testevt.c -text
test/testevt.h -text
test/testheap.c -text
test/testheap.h -text
test/testmbox.c -text
test/testmbox.h -text
test/testmsg.c -text
test/testmsg.h -text
test/testmtx.c -text
test/testmtx.h -text
test/testpools.c -text
test/testpools.h -text
test/testqueues.c -text
test/testqueues.h -text
test/testsem.c -text
test/testsem.h -text
test/testthd.c -text
test/testthd.h -text
testhal/STM32/Makefile -text
testhal/STM32/ch.ld -text
testhal/STM32/chconf.h -text
testhal/STM32/halconf.h -text
testhal/STM32/main.c -text
testhal/STM32/mcuconf.h -text
testhal/STM32/readme.txt -text
testhal/STM32/settings.c -text
testhal/STM32/settings.h -text
/todo.txt -text
