* text=auto !eol
demos/ARM7-AT91SAM7X-GCC/Makefile -text
demos/ARM7-AT91SAM7X-GCC/at91lib/AT91SAM7X256.h -text
demos/ARM7-AT91SAM7X-GCC/at91lib/aic.c -text
demos/ARM7-AT91SAM7X-GCC/at91lib/aic.h -text
demos/ARM7-AT91SAM7X-GCC/board.c -text
demos/ARM7-AT91SAM7X-GCC/board.h -text
demos/ARM7-AT91SAM7X-GCC/ch.ld -text
demos/ARM7-AT91SAM7X-GCC/chconf.h -text
demos/ARM7-AT91SAM7X-GCC/main.c -text
demos/ARM7-AT91SAM7X-GCC/readme.txt -text
demos/ARM7-AT91SAM7X-WEB-GCC/Makefile -text
demos/ARM7-AT91SAM7X-WEB-GCC/at91lib/AT91SAM7X256.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/at91lib/aic.c -text
demos/ARM7-AT91SAM7X-WEB-GCC/at91lib/aic.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/board.c -text
demos/ARM7-AT91SAM7X-WEB-GCC/board.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/ch.ld -text
demos/ARM7-AT91SAM7X-WEB-GCC/chconf.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/main.c -text
demos/ARM7-AT91SAM7X-WEB-GCC/readme.txt -text
demos/ARM7-AT91SAM7X-WEB-GCC/web/cc-arch.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/web/clock-arch.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/web/uip-conf.h -text
demos/ARM7-AT91SAM7X-WEB-GCC/web/webthread.c -text
demos/ARM7-AT91SAM7X-WEB-GCC/web/webthread.h -text
demos/ARM7-LPC214x-G++/Makefile -text
demos/ARM7-LPC214x-G++/board.c -text
demos/ARM7-LPC214x-G++/board.h -text
demos/ARM7-LPC214x-G++/ch.ld -text
demos/ARM7-LPC214x-G++/chconf.h -text
demos/ARM7-LPC214x-G++/main.cpp -text
demos/ARM7-LPC214x-G++/readme.txt -text
demos/ARM7-LPC214x-GCC-minimal/Makefile -text
demos/ARM7-LPC214x-GCC-minimal/board.c -text
demos/ARM7-LPC214x-GCC-minimal/board.h -text
demos/ARM7-LPC214x-GCC-minimal/ch.ld -text
demos/ARM7-LPC214x-GCC-minimal/chconf.h -text
demos/ARM7-LPC214x-GCC-minimal/main.c -text
demos/ARM7-LPC214x-GCC-minimal/readme.txt -text
demos/ARM7-LPC214x-GCC/Makefile -text
demos/ARM7-LPC214x-GCC/board.c -text
demos/ARM7-LPC214x-GCC/board.h -text
demos/ARM7-LPC214x-GCC/buzzer.c -text
demos/ARM7-LPC214x-GCC/buzzer.h -text
demos/ARM7-LPC214x-GCC/ch.ld -text
demos/ARM7-LPC214x-GCC/chconf.h -text
demos/ARM7-LPC214x-GCC/main.c -text
demos/ARM7-LPC214x-GCC/mmcsd.c -text
demos/ARM7-LPC214x-GCC/mmcsd.h -text
demos/ARM7-LPC214x-GCC/readme.txt -text
demos/ARMCM3-STM32F103-GCC/Makefile -text
demos/ARMCM3-STM32F103-GCC/board.c -text
demos/ARMCM3-STM32F103-GCC/board.h -text
demos/ARMCM3-STM32F103-GCC/ch.ld -text
demos/ARMCM3-STM32F103-GCC/chconf.h -text
demos/ARMCM3-STM32F103-GCC/main.c -text
demos/ARMCM3-STM32F103-GCC/readme.txt -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/misc.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_adc.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_bkp.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_can.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_conf.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_crc.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_dac.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_dbgmcu.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_dma.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_exti.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_flash.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_fsmc.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_gpio.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_i2c.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_iwdg.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_pwr.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_rcc.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_rtc.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_sdio.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_spi.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_tim.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_usart.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/inc/stm32f10x_wwdg.h -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_adc.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_bkp.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_can.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_crc.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_dac.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_dbgmcu.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_dma.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_exti.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_flash.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_fsmc.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_gpio.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_i2c.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_iwdg.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_pwr.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_rcc.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_rtc.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_sdio.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_spi.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_tim.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_usart.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/src/stm32f10x_wwdg.c -text
demos/ARMCM3-STM32F103-GCC/stm32lib/stm32lib.mk -text
demos/AVR-AT90CANx-GCC/Makefile -text
demos/AVR-AT90CANx-GCC/board.c -text
demos/AVR-AT90CANx-GCC/board.h -text
demos/AVR-AT90CANx-GCC/chconf.h -text
demos/AVR-AT90CANx-GCC/main.c -text
demos/AVR-AT90CANx-GCC/readme.txt -text
demos/AVR-ATmega128-GCC/Makefile -text
demos/AVR-ATmega128-GCC/board.c -text
demos/AVR-ATmega128-GCC/board.h -text
demos/AVR-ATmega128-GCC/chconf.h -text
demos/AVR-ATmega128-GCC/lcd.c -text
demos/AVR-ATmega128-GCC/lcd.h -text
demos/AVR-ATmega128-GCC/main.c -text
demos/AVR-ATmega128-GCC/readme.txt -text
demos/GNU-Linux-GCC/Makefile -text
demos/GNU-Linux-GCC/chconf.h -text
demos/GNU-Linux-GCC/chcore.c -text
demos/GNU-Linux-GCC/chcore.h -text
demos/GNU-Linux-GCC/chtypes.h -text
demos/GNU-Linux-GCC/main.c -text
demos/GNU-Linux-GCC/readme.txt -text
demos/MSP430-MSP430x1611-GCC/Makefile -text
demos/MSP430-MSP430x1611-GCC/board.c -text
demos/MSP430-MSP430x1611-GCC/board.h -text
demos/MSP430-MSP430x1611-GCC/chconf.h -text
demos/MSP430-MSP430x1611-GCC/main.c -text
demos/MSP430-MSP430x1611-GCC/mspgcc/msp430x1611.x -text
demos/MSP430-MSP430x1611-GCC/readme.txt -text
demos/Win32-MinGW/Makefile -text
demos/Win32-MinGW/chconf.h -text
demos/Win32-MinGW/chcore.c -text
demos/Win32-MinGW/chcore.h -text
demos/Win32-MinGW/chtypes.h -text
demos/Win32-MinGW/main.c -text
demos/Win32-MinGW/readme.txt -text
docs/Doxyfile -text
docs/html/logo_small.png -text
docs/index.html -text
docs/readme.txt -text
docs/reports/AT91SAM7X-48-ARM.txt -text
docs/reports/AT91SAM7X-48-THUMB.txt -text
docs/reports/ATmega128-16.txt -text
docs/reports/LPC2148-48-ARM.txt -text
docs/reports/LPC2148-48-THUMB.txt -text
docs/reports/MSP430F1611-0.75.txt -text
docs/reports/STM32F103-48.txt -text
docs/reports/STM32F103-72.txt -text
docs/reports/build.txt -text
docs/reports/kernel.txt -text
docs/rsc/arch.png -text
docs/rsc/arch.svg -text
docs/rsc/custom.css -text
docs/rsc/footer.html -text
docs/rsc/header.html -text
docs/rsc/logo.png -text
docs/rsc/readylist.png -text
docs/rsc/readylist.svg -text
docs/rsc/tabs.css -text
docs/rsc/workspace.png -text
docs/rsc/workspace.svg -text
docs/src/articles.dox -text
docs/src/atomic.dox -text
docs/src/concepts.dox -text
docs/src/design.dox -text
docs/src/goals.dox -text
docs/src/interrupts.dox -text
docs/src/jitter.dox -text
docs/src/licfaq.dox -text
docs/src/main.dox -text
docs/src/mutualexcl.dox -text
docs/src/portguide.dox -text
docs/src/saveram.dox -text
docs/src/stacks.dox -text
docs/src/timing.dox -text
ext/readme.txt -text
ext/uip-1.0.patches.zip -text
ext/uip-1.0.tar.gz -text
/license.txt -text
os/io/pal.c -text
os/io/pal.h -text
os/io/platforms/LPC214x/lpc214x.h -text
os/io/platforms/LPC214x/lpc214x_ssp.c -text
os/io/platforms/LPC214x/lpc214x_ssp.h -text
os/io/platforms/LPC214x/pal_lld.c -text
os/io/platforms/LPC214x/pal_lld.h -text
os/io/platforms/LPC214x/platform.dox -text
os/io/platforms/LPC214x/serial_lld.c -text
os/io/platforms/LPC214x/serial_lld.h -text
os/io/platforms/LPC214x/vic.c -text
os/io/platforms/LPC214x/vic.h -text
os/io/platforms/STM32F103/pal_lld.c -text
os/io/platforms/STM32F103/pal_lld.h -text
os/io/platforms/STM32F103/platform.dox -text
os/io/platforms/STM32F103/serial_lld.c -text
os/io/platforms/STM32F103/serial_lld.h -text
os/io/platforms/STM32F103/stm32_can.c -text
os/io/platforms/STM32F103/stm32_can.h -text
os/io/platforms/STM32F103/stm32f10x.h -text
os/io/readme.txt -text
os/io/serial.c -text
os/io/serial.h -text
os/io/templates/pal_lld.c -text
os/io/templates/pal_lld.h -text
os/io/templates/serial_lld.c -text
os/io/templates/serial_lld.h -text
os/kernel/include/ch.h -text
os/kernel/include/channels.h -text
os/kernel/include/condvars.h -text
os/kernel/include/debug.h -text
os/kernel/include/events.h -text
os/kernel/include/heap.h -text
os/kernel/include/inline.h -text
os/kernel/include/lists.h -text
os/kernel/include/mailboxes.h -text
os/kernel/include/mempools.h -text
os/kernel/include/messages.h -text
os/kernel/include/mutexes.h -text
os/kernel/include/queues.h -text
os/kernel/include/scheduler.h -text
os/kernel/include/semaphores.h -text
os/kernel/include/sys.h -text
os/kernel/include/threads.h -text
os/kernel/include/vt.h -text
os/kernel/kernel.mk -text
os/kernel/readme.txt -text
os/kernel/src/chcond.c -text
os/kernel/src/chdebug.c -text
os/kernel/src/chevents.c -text
os/kernel/src/chheap.c -text
os/kernel/src/chlists.c -text
os/kernel/src/chmboxes.c -text
os/kernel/src/chmempools.c -text
os/kernel/src/chmsg.c -text
os/kernel/src/chmtx.c -text
os/kernel/src/chqueues.c -text
os/kernel/src/chschd.c -text
os/kernel/src/chsem.c -text
os/kernel/src/chsys.c -text
os/kernel/src/chthreads.c -text
os/kernel/src/chvt.c -text
os/ports/GCC/ARM/rules.mk -text
os/ports/GCC/ARM7/AT91SAM7X/mii.h -text
os/ports/GCC/ARM7/AT91SAM7X/pal_lld.c -text
os/ports/GCC/ARM7/AT91SAM7X/pal_lld.h -text
os/ports/GCC/ARM7/AT91SAM7X/port.dox -text
os/ports/GCC/ARM7/AT91SAM7X/sam7x_emac.c -text
os/ports/GCC/ARM7/AT91SAM7X/sam7x_emac.h -text
os/ports/GCC/ARM7/AT91SAM7X/sam7x_serial.c -text
os/ports/GCC/ARM7/AT91SAM7X/sam7x_serial.h -text
os/ports/GCC/ARM7/AT91SAM7X/vectors.s -text
os/ports/GCC/ARM7/AT91SAM7X/wfi.h -text
os/ports/GCC/ARM7/LPC214x/vectors.s -text
os/ports/GCC/ARM7/LPC214x/wfi.h -text
os/ports/GCC/ARM7/chcore.c -text
os/ports/GCC/ARM7/chcore.h -text
os/ports/GCC/ARM7/chcore.lst -text
os/ports/GCC/ARM7/chcoreasm.s -text
os/ports/GCC/ARM7/chtypes.h -text
os/ports/GCC/ARM7/crt0.lst -text
os/ports/GCC/ARM7/crt0.s -text
os/ports/GCC/ARM7/port.dox -text
os/ports/GCC/ARM7/port.mk -text
os/ports/GCC/ARMCM3/STM32F103/vectors.s -text
os/ports/GCC/ARMCM3/chcore.c -text
os/ports/GCC/ARMCM3/chcore.h -text
os/ports/GCC/ARMCM3/chtypes.h -text
os/ports/GCC/ARMCM3/cmsis/core_cm3.c -text
os/ports/GCC/ARMCM3/cmsis/core_cm3.h -text
os/ports/GCC/ARMCM3/crt0.s -text
os/ports/GCC/ARMCM3/nvic.c -text
os/ports/GCC/ARMCM3/nvic.h -text
os/ports/GCC/ARMCM3/port.dox -text
os/ports/GCC/ARMCM3/port.mk -text
os/ports/GCC/AVR/avr_serial.c -text
os/ports/GCC/AVR/avr_serial.h -text
os/ports/GCC/AVR/chcore.c -text
os/ports/GCC/AVR/chcore.h -text
os/ports/GCC/AVR/chtypes.h -text
os/ports/GCC/AVR/port.dox -text
os/ports/GCC/AVR/port.mk -text
os/ports/GCC/MSP430/chcore.c -text
os/ports/GCC/MSP430/chcore.h -text
os/ports/GCC/MSP430/chtypes.h -text
os/ports/GCC/MSP430/msp430_serial.c -text
os/ports/GCC/MSP430/msp430_serial.h -text
os/ports/GCC/MSP430/pal_lld.c -text
os/ports/GCC/MSP430/pal_lld.h -text
os/ports/GCC/MSP430/port.dox -text
os/ports/GCC/MSP430/port.mk -text
os/ports/GCC/MSP430/rules.mk -text
os/ports/GCC/Win32/simcom.c -text
os/ports/GCC/Win32/simio.c -text
os/ports/templates/chconf.h -text
os/ports/templates/chcore.c -text
os/ports/templates/chcore.h -text
os/ports/templates/chtypes.h -text
os/various/ch.cpp -text
os/various/ch.hpp -text
os/various/evtimer.c -text
os/various/evtimer.h -text
ports/ARM/rules.mk -text
ports/ARM7-AT91SAM7X/mii.h -text
ports/ARM7-AT91SAM7X/pal_lld.c -text
ports/ARM7-AT91SAM7X/pal_lld.h -text
ports/ARM7-AT91SAM7X/port.dox -text
ports/ARM7-AT91SAM7X/sam7x_emac.c -text
ports/ARM7-AT91SAM7X/sam7x_emac.h -text
ports/ARM7-AT91SAM7X/sam7x_serial.c -text
ports/ARM7-AT91SAM7X/sam7x_serial.h -text
ports/ARM7-AT91SAM7X/vectors.s -text
ports/ARM7-AT91SAM7X/wfi.h -text
ports/ARM7-LPC214x/lpc214x.h -text
ports/ARM7-LPC214x/lpc214x_serial.c -text
ports/ARM7-LPC214x/lpc214x_serial.h -text
ports/ARM7-LPC214x/lpc214x_ssp.c -text
ports/ARM7-LPC214x/lpc214x_ssp.h -text
ports/ARM7-LPC214x/pal_lld.c -text
ports/ARM7-LPC214x/pal_lld.h -text
ports/ARM7-LPC214x/port.dox -text
ports/ARM7-LPC214x/vectors.s -text
ports/ARM7-LPC214x/vic.c -text
ports/ARM7-LPC214x/vic.h -text
ports/ARM7-LPC214x/wfi.h -text
ports/ARM7/chcore.c -text
ports/ARM7/chcore.h -text
ports/ARM7/chcoreasm.s -text
ports/ARM7/chtypes.h -text
ports/ARM7/crt0.s -text
ports/ARM7/port.dox -text
ports/ARMCM3-STM32F103/pal_lld.c -text
ports/ARMCM3-STM32F103/pal_lld.h -text
ports/ARMCM3-STM32F103/port.dox -text
ports/ARMCM3-STM32F103/stm32_can.c -text
ports/ARMCM3-STM32F103/stm32_can.h -text
ports/ARMCM3-STM32F103/stm32_serial.c -text
ports/ARMCM3-STM32F103/stm32_serial.h -text
ports/ARMCM3-STM32F103/stm32f10x.h -text
ports/ARMCM3-STM32F103/vectors.s -text
ports/ARMCM3/chcore.c -text
ports/ARMCM3/chcore.h -text
ports/ARMCM3/chtypes.h -text
ports/ARMCM3/cmsis/core_cm3.c -text
ports/ARMCM3/cmsis/core_cm3.h -text
ports/ARMCM3/crt0.s -text
ports/ARMCM3/nvic.c -text
ports/ARMCM3/nvic.h -text
ports/ARMCM3/port.dox -text
ports/AVR/avr_serial.c -text
ports/AVR/avr_serial.h -text
ports/AVR/chcore.c -text
ports/AVR/chcore.h -text
ports/AVR/chtypes.h -text
ports/AVR/port.dox -text
ports/MSP430/chcore.c -text
ports/MSP430/chcore.h -text
ports/MSP430/chtypes.h -text
ports/MSP430/msp430_serial.c -text
ports/MSP430/msp430_serial.h -text
ports/MSP430/pal_lld.c -text
ports/MSP430/pal_lld.h -text
ports/MSP430/port.dox -text
ports/MSP430/rules.mk -text
ports/Win32/simcom.c -text
/readme.txt -text
src/chcond.c -text
src/chdebug.c -text
src/chevents.c -text
src/chheap.c -text
src/chlists.c -text
src/chmboxes.c -text
src/chmempools.c -text
src/chmsg.c -text
src/chmtx.c -text
src/chqueues.c -text
src/chschd.c -text
src/chsem.c -text
src/chserial.c -text
src/chsys.c -text
src/chthreads.c -text
src/chvt.c -text
src/include/ch.h -text
src/include/channels.h -text
src/include/condvars.h -text
src/include/debug.h -text
src/include/events.h -text
src/include/heap.h -text
src/include/inline.h -text
src/include/lists.h -text
src/include/mailboxes.h -text
src/include/mempools.h -text
src/include/messages.h -text
src/include/mutexes.h -text
src/include/queues.h -text
src/include/scheduler.h -text
src/include/semaphores.h -text
src/include/serial.h -text
src/include/sys.h -text
src/include/threads.h -text
src/include/vt.h -text
src/kernel.mk -text
src/lib/ch.cpp -text
src/lib/ch.hpp -text
src/lib/evtimer.c -text
src/lib/evtimer.h -text
src/lib/pal.c -text
src/lib/pal.h -text
src/templates/chconf.h -text
src/templates/chcore.c -text
src/templates/chcore.h -text
src/templates/chtypes.h -text
src/templates/pal_lld.h -text
test/coverage/Makefile -text
test/coverage/chconf.h -text
test/coverage/chcore.c -text
test/coverage/chcore.h -text
test/coverage/chtypes.h -text
test/coverage/main.c -text
test/coverage/readme.txt -text
test/coverage/simcom.c -text
test/test.c -text
test/test.h -text
test/test.mk -text
test/testbmk.c -text
test/testbmk.h -text
test/testdyn.c -text
test/testdyn.h -text
test/testevt.c -text
test/testevt.h -text
test/testheap.c -text
test/testheap.h -text
test/testmbox.c -text
test/testmbox.h -text
test/testmsg.c -text
test/testmsg.h -text
test/testmtx.c -text
test/testmtx.h -text
test/testpools.c -text
test/testpools.h -text
test/testqueues.c -text
test/testqueues.h -text
test/testsem.c -text
test/testsem.h -text
test/testthd.c -text
test/testthd.h -text
/todo.txt -text
