/*.cproject
/*.project
/.metadata
boards/OLIMEX_STM32_103STK/board.lst
boards/OLIMEX_STM32_P103/*.lst
docs/html/*.css
docs/html/*.html
docs/html/*.map
docs/html/*.md5
docs/html/*.png
docs/html/custom.css
docs/html/graph_legend.dot
docs/html/index.hhc
docs/html/index.hhk
docs/html/index.hhp
docs/html/tab_b.gif
docs/html/tab_l.gif
docs/html/tab_r.gif
docs/html/tabs.css
ext/fatfs
os/hal/*.origin
os/hal/dox/*.origin
os/hal/include/*.origin
os/hal/platforms/STM32/*.lst
os/hal/platforms/STM32/*.origin
os/hal/platforms/STM32/GPIOv1/*.lst
os/hal/platforms/STM32/RTCv1/*.lst
os/hal/platforms/STM32/USBv1/*.lst
os/hal/platforms/STM32F1xx/*.lst
os/hal/platforms/STM32F1xx/*.origin
os/hal/platforms/STM32F4xx/*.origin
os/hal/src/*.lst
os/hal/src/*.origin
os/kernel/src/*.lst
os/ports/GCC/ARMCMx/*.lst
os/ports/GCC/ARMCMx/STM32F1xx/*.lst
os/various/*.lst
test/*.lst
testhal/STM32F1xx/ADC/*.cproject
testhal/STM32F1xx/ADC/*.project
testhal/STM32F1xx/ADC/.dep
testhal/STM32F1xx/ADC/build
testhal/STM32F1xx/EXT/*.bin
testhal/STM32F1xx/EXT/*.cproject
testhal/STM32F1xx/EXT/*.dmp
testhal/STM32F1xx/EXT/*.elf
testhal/STM32F1xx/EXT/*.hex
testhal/STM32F1xx/EXT/*.lst
testhal/STM32F1xx/EXT/*.map
testhal/STM32F1xx/EXT/*.project
testhal/STM32F1xx/EXT/.dep
testhal/STM32F1xx/EXT_WAKEUP/*.bin
testhal/STM32F1xx/EXT_WAKEUP/*.cproject
testhal/STM32F1xx/EXT_WAKEUP/*.dmp
testhal/STM32F1xx/EXT_WAKEUP/*.elf
testhal/STM32F1xx/EXT_WAKEUP/*.hex
testhal/STM32F1xx/EXT_WAKEUP/*.lst
testhal/STM32F1xx/EXT_WAKEUP/*.map
testhal/STM32F1xx/EXT_WAKEUP/*.origin
testhal/STM32F1xx/EXT_WAKEUP/*.project
testhal/STM32F1xx/EXT_WAKEUP/.dep
testhal/STM32F1xx/I2C/*.cproject
testhal/STM32F1xx/I2C/*.lst
testhal/STM32F1xx/I2C/*.origin
testhal/STM32F1xx/I2C/*.project
testhal/STM32F1xx/I2C/.dep
testhal/STM32F1xx/I2C/build
testhal/STM32F1xx/I2C/ch.bin
testhal/STM32F1xx/I2C/ch.dmp
testhal/STM32F1xx/I2C/ch.elf
testhal/STM32F1xx/I2C/ch.hex
testhal/STM32F1xx/I2C/ch.map
testhal/STM32F1xx/RTC/*.origin
testhal/STM32F1xx/RTC/*.project
testhal/STM32F1xx/RTC/.cproject
testhal/STM32F1xx/RTC/.dep
testhal/STM32F1xx/RTC/build
testhal/STM32F1xx/RTC/ch.bin
testhal/STM32F1xx/RTC/ch.dmp
testhal/STM32F1xx/RTC/ch.elf
testhal/STM32F1xx/RTC/ch.hex
testhal/STM32F1xx/RTC/ch.map
testhal/STM32F1xx/RTC/main.lst
testhal/STM32F1xx/UART/*.cproject
testhal/STM32F1xx/UART/*.project
testhal/STM32F1xx/UART/.dep
testhal/STM32F1xx/UART/build
testhal/STM32F4xx/UART/*.cproject
testhal/STM32F4xx/UART/*.project
