/*.cproject
/*.project
/.metadata
boards/NONSTANDARD_STM32F4_BARTHESS1/*.origin
boards/OLIMEX_STM32_103STK/board.lst
boards/OLIMEX_STM32_P103/*.lst
boards/OLIMEX_STM32_P103/*.origin
os/hal/*.origin
os/hal/dox/*.origin
os/hal/include/*.origin
os/hal/platforms/STM32/*.lst
os/hal/platforms/STM32/*.origin
os/hal/platforms/STM32/GPIOv1/*.lst
os/hal/platforms/STM32/I2Cv1/*.origin
os/hal/platforms/STM32/RTCv1/*.lst
os/hal/platforms/STM32/USBv1/*.lst
os/hal/platforms/STM32F1xx/*.lst
os/hal/platforms/STM32F1xx/*.origin
os/hal/platforms/STM32F4xx/*.origin
os/hal/src/*.lst
os/hal/src/*.origin
os/kernel/src/*.lst
os/ports/GCC/ARMCMx/*.lst
os/ports/GCC/ARMCMx/STM32F1xx/*.lst
os/various/*.lst
test/*.lst
